
.contenedorCart{
  width: 100%;
  margin-top: auto;

}
.titleCarrito{
 
  margin-top: auto;
  font-size: 30px;
  margin-top: 100px;
  color:grey;
}
.eliminar{
 font-weight: bold;
  font-size: 10px;
  padding: 0.5em 0.5em;
  background: rgba(0,0,0,0);
  transition: all 1s ease;
  position: relative;
  border-color:black;
  text-decoration: none;
}
.eliminar:hover {
  color: rgb(104, 79, 103);
}
.divNoHayItem{
  margin-top: 100px;
  font-size: 30px;
}
.link{
  text-decoration: none;
  color:gray;
}


th,
td {
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; 
border-left:1px solid grey;
border-right: 1px solid grey;}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }
