
.imagen{
    width: 150px;
    height: 230px;
}
.card{
    margin: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    overflow: hidden;
    width: 320px;
    height: auto;
}
.card:hover{
    box-shadow: 5px 10px 10px rgb(58,58, 55);
    transition: all 0.7s linear;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transition: all 0.2s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.2);
}
.card-body{
    height: 230px;
}
.card-title{
    font: size 17px;
    height:80px ;
}
.btn-outline-danger{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
.card-price{
    font-size: 15px;
    padding: 20px;
}