
.imagen{
    width: 175px;
    height: 230px;
}
.card{
    margin: 5px;
}
.card:hover{
    box-shadow: 5px 10px 10px rgb(58,58, 55);
    transition: all 0.7s linear;
}
.overflow{
    overflow: hidden;
}
.card-img-top{
    transition: all 0.2s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.2);
}
.card-body{
    height: 530px;
}
.card-text{
    font-size: 15px;
}
