.titu{
    border: 4px #DC3545 solid;
    background-color:lightgrey;
    text-align: center;
    width: 400px;
    margin: auto;
}
.link{
    text-decoration: none;
    color:#DC3545;;
}
.modal{
    margin-top: 50px;
}
.form{
    margin-bottom: 0;
}
.orden{
margin-top: 50px;
}
.btnPago{
    margin: bottom 30px;
}
