.titu{
    border: 4px #DC3545 solid;
    background-color:lightgrey;
    text-align: center;
    width: 400px;
    margin: auto;
}
.link{
    text-decoration: none;
    color:#DC3545;;
}
.modal{
    margin-top: 100px;
}

